html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Allow content to grow */
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media screen and (min-width: 320px) {
  .info,
  .publication,
  .teaching,
  .projects {
      margin-top: 5px;
  }
}

@media screen and (min-width: 425px) {
  .info,
  .publication,
  .teaching,
  .projects {
      margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .info,
  .publication,
  .teaching,
  .projects {
      margin-top: 5px;
  }
}