html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1; /* Allow content to grow and push footer down */
}
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    width: 100%; /* Full width */
    left: 0;
    top: 50px; /* Adjust based on navbar height */
    background-color: #222; /* Match navbar color */
    z-index: 1000; /* Ensure it stays on top */
    padding: 0; /* Remove any default padding */
  }
  .navbar-nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Ensure links take full width */
    text-align: center; /* Center the text */
  }
  .navbar-nav li {
    width: 100%; /* Make sure links take full width */
  }
  .navbar-nav a {
    color: white; /* Ensure text is visible */
  }
}
.publication {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 80vh;
}
.publication li {
  text-align: justify;
}
.teaching {
  margin-top: 20px;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
  max-height: 80vh; /* Set max height for the teaching section */
}
